body {
  background-image: url("../Image/ground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 50px;
  color: #2c0824;
  text-align:center;
  padding-top: 30px;
}
h2 {
  font-size: 40px;
  color: #2c0824;
}
p {
  text-align-last: left;
  font-size: 25px;
  color: #2c0824;
}
img {
  margin-right: 20px;
  max-width: 100%;
  width: 300px
}
a {font-size: 25px}
section {
  width: 100%;
  height: auto;
  max-width: 100%;
}
source{max-width: 100%;}
.container0 {
  background-color: white;
  max-width: 90%;
  margin:40px auto;
  outline-style: solid; color: white;
  outline-width: thick;
}
.container1 {max-width: 100%;}
.container2 {
  display: flex;
  padding: 5px 0 0 0;
}
.container2:last-of-type {padding-bottom:5px;}
.container-sub {flex-direction: column;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d24694;
  text-align: center;
}
li {display: inline-block;}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {background-color: #832851;}
video {width:100%;}
footer {
  background-color: #832851;
  padding:20px;
}
footer p {
  color: white;
  margin:0;
}
.small {font-size: 20px;}